In [7]:
import LanusStats as ls  
transfermarkt = ls.Transfermarkt()

ls.get_available_leagues('Transfermarkt')

['Primera Division Argentina',
 'Argentina Copa de la Liga',
 'Primera Division Chile',
 'Brasileirao',
 'LaLiga',
 'LaLiga 2',
 'Primera RFEF Grupo 1',
 'Primera RFEF Grupo 2']

In [5]:
import pandas as pd

path = r"C:\Users\FrancoPC\OneDrive\Desktop\TPO_CienciaDeDatos\data\processed\tm_values_GB1_2024_latest.csv"
df = pd.read_csv(path)

display(df.head(10))

print("Filas:", len(df))
n_clubs = df["club_name"].nunique()
print("Clubes únicos:", n_clubs, "→ ¿20?", n_clubs == 20)
print("Nulos player_name:", df["player_name"].isna().sum())
print("Nulos market_value_eur:", df["market_value_eur"].isna().sum())
print("Duplicados (player_name, club_name):", df.duplicated(subset=["player_name","club_name"]).sum())

print("\nDescribe market_value_eur:")
print(df["market_value_eur"].describe())

print("\nTop 10 valores de mercado:")
print(df.sort_values("market_value_eur", ascending=False).head(10)[["player_name","club_name","market_value_eur"]])

print("\nJugadores por club (top 10):")
print(df["club_name"].value_counts().head(10))

,player_name,club_name,market_value_eur,player_id,dob,age
0,Alisson,Liverpool FC,20000000,105470,1992-10-02,32
1,Caoimhín Kelleher,Liverpool FC,20000000,340918,1998-11-23,26
2,Vitezslav Jaros,Liverpool FC,4000000,486604,2001-07-23,23
3,Harvey Davies,Liverpool FC,500000,706815,2003-09-03,21
4,Ibrahima Konaté,Liverpool FC,60000000,357119,1999-05-25,26
5,Virgil van Dijk,Liverpool FC,23000000,139208,1991-07-08,33
6,Joe Gomez,Liverpool FC,20000000,256178,1997-05-23,28
7,Jarell Quansah,Liverpool FC,20000000,632349,2003-01-29,22
8,Amara Nallo,Liverpool FC,1000000,1108049,2006-11-18,18
9,Konstantinos Tsimikas,Liverpool FC,18000000,338070,1996-05-12,29

Filas: 718
Clubes únicos: 20 → ¿20? True
Nulos player_name: 0
Nulos market_value_eur: 0
Duplicados (player_name, club_name): 0

Describe market_value_eur:
count    7.180000e+02
mean     1.759990e+07
std      2.060953e+07
min      7.500000e+04
25%      3.000000e+06
50%      1.100000e+07
75%      2.500000e+07
max      1.800000e+08
Name: market_value_eur, dtype: float64

Top 10 valores de mercado:
             player_name         club_name  market_value_eur
67        Erling Haaland   Manchester City         180000000
148          Bukayo Saka        Arsenal FC         150000000
288       Alexander Isak  Newcastle United         120000000
140          Declan Rice        Arsenal FC         120000000
103          Cole Palmer        Chelsea FC         120000000
50                 Rodri   Manchester City         110000000
64            Phil Foden   Manchester City         100000000
17   Alexis Mac Allister      Liverpool FC         100000000
93        Moisés Caicedo        Chelsea FC          90000000
143      Martin Ødegaard        Arsenal FC          85000000

Jugadores por club (top 10):
club_name
Chelsea FC                 49
Brighton & Hove Albion     46
Wolverhampton Wanderers    41
Manchester City            40
Southampton FC             40
Crystal Palace             39
AFC Bournemouth            38
Leicester City             36
Tottenham Hotspur          35
Arsenal FC                 35
Name: count, dtype: int64